---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

const languages = ['Html', 'JavaScript', 'CSS', 'Java']
const frontend = ['TypeScript', 'Vite', 'Vue']
const backend = ['Node.js', 'Express', 'PostgreSQL', 'Redis']

const MAX_POSTS = 6
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={images[imagePath]()}
        alt={config.logo.alt || 'Profile'}
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-medium'>{config.author}</h1>
        <div
          class='flex justify-center gap-x-7 gap-y-3 max-sm:flex-nowrap max-sm:overflow-x-auto max-sm:gap-x-5'
        >
          <Label title='Chine'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Github' as='a' href='https://github.com/super-mortal' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Bilibili'
            as='a'
            href='https://space.bilibili.com/2090094430'
            target='_blank'
          >
            <Icon name='bilibili' class='size-5' slot='icon' />
          </Label>
          <Label title='RSS' as='a' href='/rss.xml' target='_blank'>
            <Icon name='rss' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Student / Developer</p>
        <p class='text-muted-foreground'>
          Hello, I'm Mortal. I'm currently studying Software Technology at a university in
          Guangzhou.<br />
          I'm a tech enthusiast who loves hands-on experiences with new things, and I'm especially fascinated
          by OpenClaw, which became hugely popular in 2026. <br />I have experience in full-stack
          development using Node.js and Vue, which has helped me build some software development
          skills. I'm also quite interested in areas like cybersecurity, and i will learning new
          knowledge and embracing new challenges.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='广州华南商贸职业学院'
          subheading='Software Technology.'
          date='September 2025 - Present'
          href='https://www.scbt.edu.cn'
        >
          {
            /* <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
        </ul> */
          }
        </Card>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
